@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}



.logo p{
    font-size:18px;
    padding:20px;
}

.logo p:hover{
    font-size:25px;
}

.header{
    display:flex;
    width:100%;
    justify-content:space-between;
    background-color:orangered;
    height:60px;
    align-items: center;
    
}

.header ul{
    display:flex;
    justify-content: space-between;
    background-color:bisque;
    list-style: none;
    align-items:stretch;
}

.header li {
    display:flex;
    width:100px;
    height:60px;
    text-align: center;
    flex-grow:1;
    align-items: center;
    justify-content: center;
}

.header li:first-child:hover{
    background-color:orange;
    color:white;
}

.header li:nth-child(2):hover{
    background-color:palevioletred;
    color:white;
}

.header li:nth-child(3):hover{
    background-color:pink;
}

.pets-available .container{
    width:1200px;
    margin:0 auto;
}

.card{
    width:100%;
    height:400px;
    position: relative;
    display: flex;
}

.info{
    width:100%;
    height:400px;
    transition: 0.5s;
    transform: translateY(100px);
    bottom:0;
}

.info:hover{
    transform: translateY(0);
    opacity: 0.7;
    background-color:black;
}

.card::before{

}

.pets-available img{
    width:100%;
    height:400px;
    object-fit: cover;
    position: absolute;


}

.row{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    

}

.column{
    display:flex;
    flex-direction: column;
    flex-basis:100%;
    flex:1;
}



@media (max-width:700px){
    .logo {
        display:none;
    }

    .header ul{
        flex-direction: column;
    }

    .header li{
        height:100%;
    }

    .header{
        justify-content: flex-end;
    }
}
