@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}



.logo p{
    font-size:18px;
    padding:20px;
    color:white;
    transition: 100ms;
}

.logo p:hover{
    font-size:25px;
}

.header{
    display:flex;
    width:100%;
    justify-content:space-between;
    background-color:orangered;
    height:60px;
    align-items: center;
    
}

.header ul{
    display:flex;
    justify-content: space-between;
    background-color:bisque;
    list-style: none;
    align-items:stretch;
}

.header li {
    display:flex;
    width:100px;
    height:60px;
    text-align: center;
    flex-grow:1;
    align-items: center;
    justify-content: center;
}

.header li:first-child:hover{
    background-color:orange;
    color:white;
}

.header li:nth-child(2):hover{
    background-color:palevioletred;
    color:white;
}

.header li:nth-child(3):hover{
    background-color:pink;
}

.pets-available .container{
    width:1200px;
    margin:0 auto;
}

.card{
    width:100%;
    height:400px;
    position: relative;
    display: flex;
}

.info{
    width:100%;
    height:400px;
    transition: 0.5s;
    transform: translateY(100px);
    opacity:0;
    padding-top:200px;
    padding-left:40px;:

    
}

.info:hover{
    transform: translateY(0);
    height:200px;
    opacity: 0.7;
    background-color:rgb(53, 45, 45);
    display:block;
    color:white;
}

.card::before{

}

.pets-available img{
    width:100%;
    height:400px;
    object-fit: cover;
    position: absolute;


}

.row{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    

}

.column{
    display:flex;
    flex-direction: column;
    flex-basis:100%;
    flex:1;
}

button{
    padding:10px;
    margin-top:10px;
    border-radius:10px;
    border:none;
    background: orangered;
    color:white;
    opacity:1;
    cursor: pointer;
    font-size:18px;
}


footer{
    display:flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orangered;
    color: white;
    text-align: center;
    font-weight: 300;
    height:40px;
    align-items: center;
    justify-content: center;
}




@media (max-width:700px){
    .logo {
        display:none;
    }

    .header ul{
        flex-direction: column;
    }

    .header li{
        height:100%;
    }

    .header{
        justify-content: flex-end;
    }
}
